# Georg Stage usage

Example in code

In [7]:
from georgstage import GeorgStage, Opgave, Vagt, AutoFiller
import pandas as pd
import pulp as P

# initialiser GeorgStage med kode
vagter = [
    Vagt(dato='2021-05-01', vagt_tid=0, gast=1, opgave=Opgave.VAGTHAVENDE_ELEV),
    Vagt(dato='2021-05-01', vagt_tid=0, gast=2, opgave=Opgave.ORDONNANS),
    Vagt(dato='2021-05-01', vagt_tid=0, gast=3, opgave=Opgave.RORGAENGER),    
    Vagt(dato='2021-05-01', vagt_tid=0, gast=4, opgave=Opgave.UDKIG)
]
gs = GeorgStage(vagter)

# fyld et par uger ud automatisk
for dt in pd.date_range(start='2021-05-01', end='2021-05-14', closed=None).date:
    print(dt)
    fill_result = gs.autofill(dt)
    if fill_result.status == 1: 
        gs[dt] = fill_result.vagter

# Check antal dage:
print(f'Antal dage = {len(gs)}')

2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12
2021-05-13
2021-05-14
Antal dage = 14

In [8]:
# Create gs from other gs
gs2 = GeorgStage(gs.get_vagter())
# Create gs from dataframe
gs3 = GeorgStage.from_dataframe(gs.to_dataframe())
# Save gs to file, load gs from file
gs.save('togt.gsl')
gs4 = GeorgStage.load('togt.gsl')
gs4.to_dataframe()

           dato  vagt_tid  gast             opgave
0    2021-05-01         0     1   VAGTHAVENDE_ELEV
1    2021-05-01        12     1  UDSAETNINGSGAST_D
2    2021-05-01         0     2          ORDONNANS
3    2021-05-01        12     3   VAGTHAVENDE_ELEV
4    2021-05-01         0     3         RORGAENGER
..          ...       ...   ...                ...
905  2021-05-14         8    55  UDSAETNINGSGAST_A
906  2021-05-14        20    55  UDSAETNINGSGAST_A
907  2021-05-14        20    57          ORDONNANS
908  2021-05-14         8    57              UDKIG
909  2021-05-14        20    58   VAGTHAVENDE_ELEV

[910 rows x 4 columns]

In [9]:
GeorgStage.load('togt.gsl').to_dataframe()

           dato  vagt_tid  gast             opgave
0    2021-05-01         0     1   VAGTHAVENDE_ELEV
1    2021-05-01        12     1  UDSAETNINGSGAST_D
2    2021-05-01         0     2          ORDONNANS
3    2021-05-01        12     3   VAGTHAVENDE_ELEV
4    2021-05-01         0     3         RORGAENGER
..          ...       ...   ...                ...
905  2021-05-14         8    55  UDSAETNINGSGAST_A
906  2021-05-14        20    55  UDSAETNINGSGAST_A
907  2021-05-14        20    57          ORDONNANS
908  2021-05-14         8    57              UDKIG
909  2021-05-14        20    58   VAGTHAVENDE_ELEV

[910 rows x 4 columns]

In [6]:
from georgstage.model import GeorgStage, Opgave, Vagt, AutoFiller
import pandas as pd
import pulp as P

# initialiser GeorgStage med kode
vagter = [
    Vagt(dato='2021-05-01', vagt_tid=0, gast=1, opgave=Opgave.UDE),
    Vagt(dato='2021-05-01', vagt_tid=4, gast=21, opgave=Opgave.UDE)    
]
gs = GeorgStage(vagter)

# fyld et par uger ud automatisk
fill_result = gs.autofill('2021-05-01')
print(fill_result.status)

1